body {
  margin: 0px;
  padding: 0px;
  color: $color-text;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: $color-background;
}

.el-pagination {
  margin: 30px 0px 20px 0px;
  justify-content: center;
}

.el-pager li {
  background: transparent !important;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  background: $color-elements !important;
}
